# Default ignored files
/shelf/
/.idea/workspace.xml

*.class
.idea/
out/

bin/
build/
/bin1/
java/build/**
target/
output/
release/
debug/

*.iml
*.iws
*.log
hs_err_pid*
replay_pid*

*~

thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
.DS_Store

